@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
    //background-image: url("images/bg2.jpg");
    //background-repeat: no-repeat;
    //background-position: center top;
    background-color: #5e5e69;
    background-attachment: fixed;
    margin: 0px;
}

li{
		list-style-type: none;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 7px;
  margin-top: 5px;
}

div.banner {
    width: 100%;
    height: 65px;
    background-color: #000;
    position: fixed;
}

div.content {
    background-attachment: fixed;
    border: 0px solid blue;
    width: 70%;
    background-color: #b3bcc3;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

div.header {
    width: 100%;
    height: 160px;
    background-color: #290b2b;
    border-bottom: 0px solid #000;
    position: fixed;
	z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.00);
}

//Search bar
#search-form {
  padding-bottom: 20px;
}
#search-text {
  width: 40%;
  border-radius: 4px;
}
#search-button {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-family: Georgia;
  color: white;
  background-color: #333;
  border: 2px solid #333;
}

// Results Table

#search-results {
  width: 90%;
  margin: 20px auto;
  text-align: center; 
  border-collapse: collapse;
}

.table-hover{
	width: 90%;
	border-collapse: collapse;
}

.thead-inverse{
	font-family: Josefin Slab;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #212529;
	padding: 0px
}

tr {
  font-size: 1.1em;
  text-align: center;
}

//#search-results tbody tr:nth-child(even){
//	background-color: #a1a8ae;
//}

#search-results tbody tr:hover{
	background-color: #868d92;
}

#suggestions-table tbody td:hover{
	background-color: #868d92;
}

//Suggestions Table
#suggestions{
	text-align: center;
    float: right;
    margin: 4px 10px 10px 25px;
    margin-right: 10px;
    margin-right: 50px;
    //border: 1px solid #000;
    padding: 5px;
	background-color: #b3bcc3;
}

#suggestions-table {
	margin: auto;
	background-color: #b3bcc3;
	width: 100%;
	padding: 0px 80px 0px 80px;
}

.suggestion-tab{
	width: 300px;
}

.suggestion-genre-pic{
	width: 30px;
}

.suggestion-pic {
    max-width: 100px;
}

//Images
#profile-picture {
  display: inline;
  float: left;
  margin: 0px;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.thumbnail-container{
  text-align: left;
}
.thumbnail {
  margin-right: 10px;
  height: 200px;
  width: 125px;
}
.category-icon {
  display: inline;
  width: 50px;
  height: 50px;
}

#text {
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}

#text h3 {
	//color: white;
	font-family: Josefin Slab;
	font-style: italic;
	font-style: bold;
	//text-decoration: underline;
	font-weight: 1000;
}

.goddessName{
	padding-right: 250px;
	text-align: center;
	color: white;
	font-family: Josefin Slab;
}

.relatedGoddesses{
	width: 100%;
	background: #1D1919;
	color: white;
	padding: 10px 0px 10px 0px;
	font-family: Josefin Slab;
	margin-bottom: 0px;
	clear: left;
}

#profile-picture {
	max-width: 220px;
}

#profile-summary {
    text-align: center;
    float: left;
    margin: 4px 10px 10px 25px;
    margin-right: 10px;
    margin-right: 50px;
    //border: 1px solid #000;
    padding: 5px;
	background-color: #b3bcc3;
}

#profile-summary li {
	text-align: left;
}
	
.button {
    background: -moz-linear-gradient(left, rgba(29,25,25,1) 0%, rgba(29,25,25,1) 68%, rgba(29,25,25,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(29,25,25,1) 0%,rgba(29,25,25,1) 68%,rgba(29,25,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(29,25,25,1) 0%,rgba(29,25,25,1) 68%,rgba(29,25,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1919', endColorstr='#001d1919',GradientType=1 ); /* IE6-9 */
	//float: left;
    border: none;
    color: white;
    padding: 9px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.return{
	position: absolute;
    left: 0px;
	z-index: 0;
}
