<html>
 <link rel="stylesheet" type="text/css" href="../static/style.css">
 <head>
    <title>Goddess Search Engine</title>
</head>
<body>
  <div id="container" align="center">
	<div class="header">
		<div class="banner">
			<a href="/home/"><img src="https://i.imgur.com/LRhplKy.png" alt=""></a>
		</div>
		<p class="title" style="font-size:54px;margin:0px;text-align:center;width:735px;padding-top:69px;">
			<a href="/home/"><img src="https://i.imgur.com/QW9NpLK.png" alt=""></a>
		</p><p>
		<p style="margin-top:-15px; font-size:16px;">
			<font face="credit" color="#917adf">By Jasmine Emerson, Maya Hess, and Monte Roden</font>
		</p>
	</div>
	<div style="margin:0px;padding-top:190px;height:100%">
		<div class="return">
			<a href="/home/" class="button">Return</a>
		</div>
		<br><br>
		<div id="profile-summary">
			<img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Diane_de_Versailles_Leochares.jpg/220px-Diane_de_Versailles_Leochares.jpg" alt="Image"/>
			<p class="category-text">
				{% for category in goddess["categories"] %}
					<p>{{ category }}</p>
				{% endfor %}
			</p>
		</div>
	
		<div id="text">
			<h1 style="padding-right: 250px;">{{ goddess["title"] }}</h1>
			<hr class="separator"><p>
				{{ goddess["extract"]|safe}}
			</p>
	  </div>
	  <div id="suggestions">
		<h3>Related Goddesses</h3>
		<table id="suggestions-table">
		  <tr>
			<td>
				<table class="suggestion-tab">
					<tr>
						<td>(Name)</td>
						<td rowspan="2"><img class="suggestion-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mattei_Athena_Louvre_Ma530_n2.jpg/800px-Mattei_Athena_Louvre_Ma530_n2.jpg"</td>
					</tr>
					<!-- <tr> -->
						<td>(Associations)</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="suggestion-tab">
					<tr>
						<td>(Name)</td>
						<td rowspan="2">(IMAGE)</td>
					</tr>
					<tr>
						<td>(Associations)</td>
					</tr>
				</table>
			</td>
			<td>
				 <table class="suggestion-tab">
					<tr>
						<td>(Name)</td>
						<td rowspan="2"><img class="suggestion-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mattei_Athena_Louvre_Ma530_n2.jpg/800px-Mattei_Athena_Louvre_Ma530_n2.jpg"</td>
					</tr>
					<tr>
						<td>(Associations)</td>
					</tr>
				  </table>
			</td>
		  </tr>
		</table>
	</div>
  </div>
  </div>
</body>
</html>
