<html>
 <link rel="stylesheet" type="text/css" href="../static/style.css">
 <head>
    <title>Goddess Search Engine</title>
</head>
<body>
  <div id="container" align="center">
	<div class="header">
		<div class="banner">
			<a href="/home/"><img src="https://i.imgur.com/LRhplKy.png" alt=""></a>
		</div>
		<p class="title" style="font-size:54px;margin:0px;text-align:center;width:735px;padding-top:69px;">
			<a href="/home/"><img src="https://i.imgur.com/QW9NpLK.png" alt=""></a>
		</p><p>
		<p style="margin-top:-15px; font-size:16px;">
			<font face="credit" color="#917adf">By Jasmine Emerson, Maya Hess, and Monte Roden</font>
		</p>
	</div>
	
	<div id="profile-summary" style="margin:0px;padding-top:190px;height:100%">
		<h3>Goddess name</h3>
		<img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Diane_de_Versailles_Leochares.jpg/220px-Diane_de_Versailles_Leochares.jpg" alt="Image"/>
		<p class="category-text">
			<img class="category-icon" src="http://images.clipartpanda.com/greek-clip-art-greek-leaf-hi.png">
			Greek
		</p>
		<p class="category-text">
			<img class="category-icon" src="http://images.clipartpanda.com/deer-hunting-clipart-yike9oniE.png">
			Hunting
		</p>
	</div>
	<div id="text">
		<h1>Artemis</h1>
		<hr class="separator">
			An account by Callimachus has it that Hera forbade Leto to give birth on either terra firma (the mainland) or on an island. Hera was angry with her husband Zeus because he had impregnated Leto but the island of Delos (or Ortygia in the Homeric Hymn to Artemis) disobeyed Hera and Leto gave birth there.[21]

			In ancient Cretan history Leto was worshipped at Phaistos and in Cretan mythology, Leto gave birth to Apollo and Artemis on the islands known today as Paximadia.

			A scholium of Servius on Aeneid iii. 72 accounts for the island's archaic name Ortygia[22] by asserting that Zeus transformed Leto into a quail (ortux) in order to prevent Hera from finding out about his infidelity, and Kenneth McLeish suggested further that in quail form Leto would have given birth with as few birth-pains as a mother quail suffers when it lays an egg.[23]

			The myths also differ as to whether Artemis was born first, or Apollo. Most stories depict Artemis as born first, becoming her mother's midwife upon the birth of her brother Apollo.
		</p>
  </div>
  <div id="suggestions">
    <h3>You may also like:</h3>
    <table id="suggestions-table">
      <tr>
        <td>
          <table class="suggestion-tab">
            <tr>
              <td><img class="suggestion-genre-pic" src="http://images.clipartpanda.com/greek-clip-art-greek-leaf-hi.png"/></td>
              <td rowspan="4"><img class="suggestion-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mattei_Athena_Louvre_Ma530_n2.jpg/800px-Mattei_Athena_Louvre_Ma530_n2.jpg"</td>
            </tr>
            <tr>
              <td><img class="suggestion-genre-pic" src="https://vignette.wikia.nocookie.net/divinity2/images/8/85/Nail-clip-art-3.png/revision/latest?cb=20110209005023"/></td>
            </tr>
            <tr>
              <td><img class="suggestion-genre-pic" src="https://vignette.wikia.nocookie.net/divinity2/images/8/85/Nail-clip-art-3.png/revision/latest?cb=20110209005023"/></td>
            </tr>
            <tr>
              <td><img class="suggestion-genre-pic" src="https://vignette.wikia.nocookie.net/divinity2/images/8/85/Nail-clip-art-3.png/revision/latest?cb=20110209005023"/></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="suggestion-tab">
            <tr>
              <td>IMG</td>
              <td rowspan="4">suggested_pib</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="suggestion-tab">
            <tr>
              <td>IMG</td>
              <td rowspan="4">suggested_pib</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
            <tr>
              <td>IMG</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  </div>
</body>
</html>
