<html>
 <link rel="stylesheet" type="text/css" href="../static/style.css">
 <head>
    <title>Goddess Search Engine</title>
</head>
<body>
  <div id="container" align="center">
	<div class="header">
		<div class="banner">
			<a href="/home/"><img src="https://i.imgur.com/LRhplKy.png" alt=""></a>
		</div>
		<p class="title" style="font-size:54px;margin:0px;text-align:center;width:735px;padding-top:69px;">
			<a href="/home/"><img src="https://i.imgur.com/QW9NpLK.png" alt=""></a>
		</p><p>
		<p style="margin-top:-15px; font-size:16px;">
			<font face="credit" color="#917adf">By Jasmine Emerson, Maya Hess, and Monte Roden</font>
		</p>
	</div>
	<div style="margin:0px;padding-top:190px;height:100%">
		<a href="/home/" class="button">Return</a><p>
		<div id="profile-summary">
			<img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Diane_de_Versailles_Leochares.jpg/220px-Diane_de_Versailles_Leochares.jpg" alt="Image"/>
			<ul class="category-text" style="list-style: none">
				{% for cat in goddess["categories"] %}
					<li><img src="../static/cat-pics/{{cat.replace(' ', '%20')}}.jpg" height="50px" width="50px"> {{ cat }}</li>
				{% endfor %}
			</ul>
		</div>
	
		<div id="text">
			<h1>{{ goddess["title"] }}</h1>
			<hr class="separator"><p>
				{{ goddess["extract"]|safe}}
			</p>
	  </div>
	  <div id="suggestions">
		<h3>You may also like:</h3>
		<table id="suggestions-table">
		  <tr>
			<td>
			  <table class="suggestion-tab">
				<tr>
				  <td>(Associations)</td>
				  <td rowspan="4"><img class="suggestion-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mattei_Athena_Louvre_Ma530_n2.jpg/800px-Mattei_Athena_Louvre_Ma530_n2.jpg"</td>
				</tr>
			  </table>
			</td>
			<td>
			  <table class="suggestion-tab">
				<tr>
				  <td>IMG</td>
				  <td rowspan="4">suggested_pib</td>
				</tr>
				<tr>
				  <td>IMG</td>
				</tr>
				<tr>
				  <td>IMG</td>
				</tr>
				<tr>
				  <td>IMG</td>
				</tr>
			  </table>
			</td>
			<td>
			  <table class="suggestion-tab">
				<tr>
				  <td>(Associations_</td>
				</tr>
			  </table>
			</td>
		  </tr>
		</table>
	</div>
  </div>
  </div>
</body>
</html>
