<html>
 <link rel="stylesheet" type="text/css" href="../static/style.css">
 <head>
    <title>Goddess Search Engine</title>
</head>
<body>
  <div id="container" align="center">
	<div class="header">
		<div class="banner">
			<a href="/home-page/"><img src="https://i.imgur.com/LRhplKy.png" alt=""></a>
		</div>
		<p class="title" style="font-size:54px;margin:0px;text-align:center;width:735px;padding-top:69px;">
			<a href="/home-page/"><img src="https://i.imgur.com/QW9NpLK.png" alt=""></a>
		</p><p>
		<p style="margin-top:-15px; font-size:16px;">
			<font face="credit" color="#917adf">By Jasmine Emerson, Maya Hess, and Monte Roden</font>
		</p>
	</div>
	<div class="content">
		<div style="margin:0px;padding-top:190px;height:100%">
			<form id="search-form" action="/search/" method="post">
			  <input id="search-text" type="text" name="query"></input>
			  <input id="search-button" type="submit" value="Search"></input>
			</form>
			
		</div>
	</div>
  </div>
</body>
</html>
