<html>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <head>
    <title>Goddesses</title>
  </head>
  <body>
    <h1>Beautiful webpage</h1>
    <form action="/search" method="post">
      <input type="text" name="query"></input>
      <input type="submit" value="SEARCH"></input>
    </form>
    <table>
      {% for goddess in gs%}
      <tr>
        <td>{{ goddess.title }}</td>
        <td>{{ goddess.pageid }}</td>
        <td>{{ goddess.categories }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
