<html>
<head>
    <title>Goddesses</title>
</head>
<body>
  <div id="container">
    <h1>Goddesses -- A CS483 Project</h1>
    <form id="search-form" action="/search" method="post">
      <input id="search-text" type="text" name="query"></input>
      <input id="search-button" type="submit" value="SEARCH"></input>
    </form>
    <table id="search-results" class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Goddess</th>
          <th>Categories</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
      {% if gs is defined and gs != [] %}
        {% set counter = 1 %}
        {% for goddess in gs %}
        <tr><a href="#" class="goddess-page-link">
          <td>{{ counter }}</td> {% set counter = counter + 1 %}
          <td>{{ goddess.title }}</td>
          <td>{{ goddess.categories }}</td>
          <td>NO PICTURE</td>
        </tr>
        {% endfor %}
      {% else %}
        <td>EMPTY</td>
      {% endif %}
      </tbody>
    </table>
  </div>
</body>
</html>
